


{{ define "head" }}
 <meta name="description" content="XXX">
<meta http-equiv="Refresh" content="0; url=https://www.w3docs.com" />
 <meta name="description" content="YYY">
    {{ partial "head.html" . }}
{{ end }}









{{ define "top" }}
  {{ partial "navbar-hero.html" . }}
{{ end }}

{{ define "pre-main" }}   
  <div class="columns">
    <div class="column">
{{ end }}

{{ define "main" }}   
<h1>Dette stinker</h1>
  {{ .Render "list-base" }}
{{ end }}

{{ define "post-main" }}   
    </div>
      <div class="column is-narrow">
        <!-- Taxonomy list -->
        {{ partial "sidenav.html" . }}
      </div>
    </div>
{{ end }}
